force-app/main/default/flows/EcoConnect_Attendance_Based_Points_Badge_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Calculated_Points</name>
        <label>Assign Calculated Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Volunteer.Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatePoints</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Badge_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Attended_Counter</name>
        <label>Increment Attended Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AttendedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Attended_Participations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attended_Count</name>
        <label>Initialize Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AttendedCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Attended_Participations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bronze_Badge</name>
        <label>Set Bronze Badge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Volunteer.Badge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bronze</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Volunteer_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gold_Badge</name>
        <label>Set Gold Badge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Volunteer.Badge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Volunteer_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Silver_Badge</name>
        <label>Set Silver Badge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Volunteer.Badge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Volunteer_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Badge_Decision</name>
        <label>Badge Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Bronze_Badge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bronze</defaultConnectorLabel>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttendedCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gold_Badge</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Silver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttendedCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Silver_Badge</targetReference>
            </connector>
            <label>Silver</label>
        </rules>
    </decisions>
    <description>This flow automatically updates Volunteer Points and Badge Level when a Drive Participation record is marked as &quot;Attended&quot;.
The system recalculates total attended drives using a Roll-Up Summary field and assigns Bronze, Silver, or Gold badge accordingly.</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculatePoints</name>
        <dataType>Number</dataType>
        <expression>{!AttendedCount} * 10</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalPoints</name>
        <dataType>Number</dataType>
        <expression>{!Get_Volunteer.Total_Attended_Drive__c}*10</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>EcoConnect – Attendance Based Points &amp; Badge Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EcoConnect – Attendance Based Points &amp; Badge Update</label>
    <loops>
        <name>Loop_Through_Attended_Participations</name>
        <label>Loop Through Attended Participations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Attended_Participations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Attended_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Calculated_Points</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Attended_Participations</name>
        <label>Get Attended Participations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Attended_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Volunteer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Volunteer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attendance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Drive_Participation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer</name>
        <label>Get Volunteer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attended_Participations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Volunteer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Volunteer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Volunteer_Record</name>
        <label>Update Volunteer Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Volunteer</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Volunteer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendance_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Drive_Participation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AttendedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Points</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
