force-app/main/default/flows/EcoConnect_Auto_Mark_Drive_as_Full.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>It will check whether the drive is full or not</description>
        <name>Capacity_Reached</name>
        <label>Is Drive Full?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Full</defaultConnectorLabel>
        <rules>
            <name>Full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Drive_Record.Total_Participants__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Related_Drive_Record.Capacity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Drive_Record</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>
    <description>This flow will mark the drive status as full when capacity reached!</description>
    <environments>Default</environments>
    <interviewLabel>EcoConnect Auto Mark Drive as Full {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EcoConnect Auto Mark Drive as Full</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Drive_Record</name>
        <label>Get Related Drive Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capacity_Reached</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EcoDrive__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EcoDrive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update drive status field to full</description>
        <name>Update_Drive_Record</name>
        <label>Update Drive Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Drive_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputAssignments>
        <object>EcoDrive__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Drive_Participation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Mark_Drive_Full_After_Rollup</name>
            <connector>
                <targetReference>Get_Related_Drive_Record</targetReference>
            </connector>
            <label>Mark Drive Full After Rollup</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
